<!doctype html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
      <%- include('./partials/navbar.ejs') %>
      <div class="text-center mt-5">
          <h1><%= content %></h1>
      </div>
      <%- include('./partials/footer.ejs') %>
  </body>
</html>
